@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ContactPersonViewModel
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>@Localizer["StudentContactPerson.Name"]</th>
      <th>@Localizer["StudentContactPerson.Relation"]</th>
      <th>@Localizer["StudentContactPerson.PhoneNo"]</th>
      <th>@Localizer["StudentContactPerson.Email"]</th>
    </tr>
  </thead>
  <tbody>
    @{
      if (Model.ContactPersons != null && Model.ContactPersons.Any())
      {
        foreach (var contactPerson in Model.ContactPersons)
        {
          <tr>
            <td>
              @Html.DisplayFor(model => contactPerson.Name)
            </td>
            <td>
              @Html.DisplayFor(model => contactPerson.RelationType)
            </td>
            <td>
              @Html.DisplayFor(model => contactPerson.PhoneNo)
            </td>
            <td>
              @Html.DisplayFor(model => contactPerson.EmailAddress)
            </td>
          </tr>
        }
      }
    }
  </tbody>
</table>