@model SinePulse.EMS.Site.Models.AddClassViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = "AddClass";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddClass.Title"]</div>
        <form asp-action="AddClass" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row-fluid">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddClass.ClassName"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="ClassName" type="text" class="form-control" />
                    <span asp-validation-for="ClassName" class="text-danger"></span>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddClass.ClassCode"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="ClassCode" type="text" class="form-control" />
                    <span asp-validation-for="ClassCode" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("Index", "Class")'">@Localizer["AddClass.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddClass.CreateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>
Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
