@model ShowInstituteListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            @*#######*@
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="title-on-top">
                    <div class="page-toolbar pull-left" style="margin-top: -10px;">
                        <div class="btn-group">
                            <ul style="padding:0px;">
                                <li class="custom-page-menu dropdown primary-menu-item-li">
                                    <a href="#" class="show-dropdown-on-hover" data-toggle="custom-page-menu">
                                        <button type="button" class="btn btn-fit-height dark-bg dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="true">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </a>
                                    <ul class="dropdown-menu light-arrow-only">
                                        <li>
                                            <a href="/Institute/AddInstitute">@Localizer["Index.AddInstitute"]</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    Institute List
                </div>
                <form class="form-horizontal box-shadow-form">
                    <div class="form-body">
                        <table class="table table-striped table-hover" id="sample_5">
                            <thead class="filterCriteria">
                                <tr>
                                    <th>@Localizer["Index.OrganizationName"]</th>
                                    <th>@Localizer["Index.ShortName"]</th>
                                    <th>@Localizer["Index.Slogan"]</th>
                                    <th>@Localizer["Index.Email"]</th>
                                    <th>@Localizer["Index.Status"]</th>
                                    <th> @Localizer["Index.Action"] </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var instituteModel in Model.InstituteList)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Institute/ViewInstitute?instituteId=@instituteModel.Id" class="action-link">@instituteModel.OrganisationName</a>
                                        </td>
                                        <td> @instituteModel.ShortName</td>
                                        <td>@instituteModel.Slogan</td>
                                        <td> @instituteModel.Email</td>
                                        <td> @instituteModel.Status</td>
                                        <td>
                                            <a href="/Institute/UpdateInstitute?instituteId=@instituteModel.Id" class="action-link"><i class="fa fa-edit action-icon"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                       

                    </div>
                </form>
                <!-- END FORM-->
            </div>
            @*#######*@
   
        </div>
    </div>
</div>





