@using SinePulse.EMS.Domain.Enums
@model SinePulse.EMS.Site.Models.AddBankAccountViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = "AddBankAccount";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddBankAccount.Title"]</div>
        <form asp-action="AddBankAccount" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BankBranchId" type="hidden" />
            <div class="row-fluid">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddBankAccount.AccountNumber"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="AccountNumber" type="text" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddBankAccount.AccountType"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <select asp-for="AccountType" required="" asp-items="Html.GetEnumSelectList<BankAccountTypeEnum>()" class="form-control">
                      <option selected="selected" value="">@Localizer["AddBankAccount.SelectBankAccountType"]</option>
                    </select>
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("ViewBankBranch", "BankInfo",new{ branchId = Model.BankBranchId })'">@Localizer["AddBankAccount.CancleButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddBankAccount.CreateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
