@model SinePulse.EMS.Site.Models.EditBankBranchViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "UpdateBankBranch";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["UpdateBankBranch.Title"]</div>
        <form asp-action="UpdateBankBranch" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BankBranchId" type="hidden" />
            <input asp-for="BankId" type="hidden" />
            <div class="row-fluid">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateBankBranch.BranchName"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="BranchName" type="text" class="form-control" />
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateBankBranch.Address"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="Address" type="text" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("ViewBankInfo", "BankInfo", new{ bankId = Model.BankId })'">@Localizer["UpdateBankBranch.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["UpdateBankBranch.UpdateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

