@using SinePulse.EMS.Domain.Enums
@model SinePulse.EMS.Site.Models.AccountHeadViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "UpdateAccountHead";
}

<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["UpdateAccountHead.Title"]</div>
        <form asp-action="UpdateAccountHead" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* hidden field *@
            <input asp-for="AccountHeadId" type="hidden" runat="server" />
            @* hidden field *@
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateAccountHead.AccountHeadName"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="AccountHeadName" type="text" class="form-control" />
                    <span asp-validation-for="AccountHeadName" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateAccountHead.AccountCode"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="AccountCode" type="text" class="form-control" />
                    <span asp-validation-for="AccountCode" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateAccountHead.AccountHeadType"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <select asp-for="AccountHeadType" asp-items="Html.GetEnumSelectList<AccountHeadTypeEnum>()" class="form-control">
                      <option selected="selected" value="">@Localizer["UpdateAccountHead.SelectAccountHeadType"]</option>
                    </select>
                    <span asp-validation-for="AccountHeadType" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateAccountHead.ParentHead"] </label>
                  </div>
                  <div class="col-md-8">
                    @{
                      if (Model.ParentHead != null)
                      {
                        @Html.DropDownListFor(x => Model.ParentHeadId, new SelectList(Model.AccountHeads, "Id", "AccountHeadName"), @Localizer["UpdateAccountHead.None"].Value, new { @class = "form-control" })
                      }
                      else
                      {
                        @Html.DropDownListFor(x => Model.ParentHeadId, new SelectList(Model.AccountHeads, "Id", "AccountHeadName"), @Localizer["UpdateAccountHead.SelectParentHead"].Value, new { @class = "form-control" })
                      }
                    }
                    <span asp-validation-for="ParentHeadId" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateAccountHead.AccountPeriod"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <select asp-for="AccountPeriod" asp-items="Html.GetEnumSelectList<AccountPeriodEnum>()" class="form-control">
                      <option selected="selected" value="">@Localizer["UpdateAccountHead.SelectAccountPeriod"]</option>
                    </select>
                    <span asp-validation-for="AccountPeriod" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateAccountHead.Status"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusEnum>()" class="form-control">
                      <option selected="selected" value="">@Localizer["UpdateAccountHead.SelectStatus"]</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="btn-container">
              <button type="button" onclick="location.href ='@Url.Action("Index", "AccountHead")'" class="btn custom-btn custom-cancel-btn pull-left">@Localizer["UpdateAccountHead.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["UpdateAccountHead.UpdateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>