@model SinePulse.EMS.Site.Models.AddCommitteeMemberAddressViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "AddCommitteeMemberAddress";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddCommitteeMemberAddress.Title"]</div>
        <form asp-action="AddCommitteeMemberAddress" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CommitteeMemberId" type="hidden" runat="server" />
            <div class="row-fluid">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="uppercase profile-stat-text">
                    @Localizer["AddCommitteeMemberAddress.PermanentAddress"]
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.Street1"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PermanentAddressStreet1" type="text" class="form-control" />
                    <span asp-validation-for="PermanentAddressStreet1" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.Street2"] </label>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PermanentAddressStreet2" type="text" class="form-control" />
                    <span asp-validation-for="PermanentAddressStreet2" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.PostalCode"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PermanentAddressPostalCode" type="text" class="form-control" />
                    <span asp-validation-for="PermanentAddressPostalCode" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.City"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PermanentAddressCity" type="text" class="form-control" />
                    <span asp-validation-for="PermanentAddressCity" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="uppercase profile-stat-text">
                    @Localizer["AddCommitteeMemberAddress.PresentAddress"]
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.Street1"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PresentAddressStreet1" type="text" class="form-control" />
                    <span asp-validation-for="PresentAddressStreet1" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.Street2"] </label>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PresentAddressStreet2" type="text" class="form-control" />
                    <span asp-validation-for="PresentAddressStreet2" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.PostalCode"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PresentAddressPostalCode" type="text" class="form-control" />
                    <span asp-validation-for="PresentAddressPostalCode" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.City"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="PresentAddressCity" type="text" class="form-control" />
                    <span asp-validation-for="PresentAddressCity" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddCommitteeMemberAddress.SameAsPermanentAddress"] </label>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="SameAsPermanentAddress" type="checkbox">
                    <span asp-validation-for="SameAsPermanentAddress" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '/CommitteeMember/ViewManagingCommittee?committeeMemberId=@Model.CommitteeMemberId'">@Localizer["AddCommitteeMemberAddress.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddCommitteeMemberAddress.CreateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>


@section Scripts
  {
  <script src="~/assets/global/scripts/CommitteeMember/committeeMemberAddress.js" type="text/javascript"></script>
}