@using SinePulse.EMS.Domain.Enums
@model AddCommitteeMemberViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "AddManagingCommittee";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddManagingCommitteeMember.Title"]</div>
        <form asp-action="AddManagingCommitteeMember" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="InstituteId" type="hidden" />
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddManagingCommitteeMember.FullName"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="FullName" type="text" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddManagingCommitteeMember.MobileNo"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="MobileNo" type="text" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddManagingCommitteeMember.DOB"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="DOB" type="text" value="" class="form-control datepicker">
                    <span asp-validation-for="DOB" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddManagingCommitteeMember.EmailAddress"]</label>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="EmailAddress" type="email" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddManagingCommitteeMember.Designation"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    @Html.DropDownListFor(x => x.DesignationId, new SelectList(Model.Designations, "Id", "DesignationName"), @Localizer["AddManagingCommitteeMember.SelectDesignation"].Value, new { @class = "form-control", id = "designationDropDown" })
                    <span asp-validation-for="DesignationId" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddManagingCommitteeMember.NationalId"]</label>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="NationalId" type="text" class="form-control" />
                    <span asp-validation-for="NationalId" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("ViewInstitute", "Institute", new {instituteId = Model.InstituteId, activeTab = TabEnum.CommitteeMembers})'">@Localizer["AddManagingCommitteeMember.Cancel"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddManagingCommitteeMember.Create"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>


@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}