@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using SinePulse.EMS.Domain.Enums
@model AddSubjectViewModel

@{
  ViewData["Title"] = "AddSubject";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddSubject.Title"]</div>
        <form asp-action="AddSubject" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddSubject.SubjectName"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="SubjectName" type="text" class="form-control" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddSubject.SubjectCode"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="SubjectCode" value="" type="text" class="form-control" />
                    <span asp-validation-for="SubjectCode" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("Index", "Subject")'">@Localizer["AddSubject.CancleButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddSubject.CreateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>


@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}