@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using SinePulse.EMS.Domain.Enums
@model EditSubjectViewModel

@{
  ViewData["Title"] = "UpdateSubject";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["UpdateSubject.Title"]</div>
        <form asp-action="UpdateSubject" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectId" runat="server" />
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateSubject.SubjectName"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="SubjectName" type="text" class="form-control" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateSubject.SubjectCode"]</label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="SubjectCode" type="text" class="form-control" />
                    <span asp-validation-for="SubjectCode" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateSubject.Status"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusEnum>()">
                      <option>@Localizer["UpdateSubject.SelectStatus"]</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("Index", "Subject")'">@Localizer["UpdateSubject.CancleButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["UpdateSubject.UpdateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>


@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}