<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Smart Meter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div >
        
    </div>
    <div >
        @RenderBody()
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/nof.js"></script>
    @Html.Hidden("onlinePaymentUrl", Url.Action("PayOnline", "OnlinePayment"))
    @Html.Hidden("onlinePaymentMobileUrl", Url.Action("PayOnlineMobile", "OnlinePayment"))
    @Html.Hidden("callUsageReportURL", Url.Action("GetReportModel", "UsageReport"))
    @Html.Hidden("sufficientAmountURL", Url.Action("IsAmountSufficient", "OnlinePayment"))


</body>
</html>
