@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SinePulse.EMS.Site.Models.AddEmployeeGradeViewModel

@{
  ViewData["Title"] = "AddEmployeeGrade";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddEmployeeGrade.Title"]</div>
        <form asp-action="AddEmployeeGrade" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddEmployeeGrade.Name"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="GradeTitle" type="text" class="form-control" />
                    <span asp-validation-for="GradeTitle" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddEmployeeGrade.MaxSalary"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="MaxSalary" type="number" class="form-control" value="" />
                    <span asp-validation-for="MaxSalary" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddEmployeeGrade.MinSalary"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="MinSalary" type="text" class="form-control" value="" />
                    <span asp-validation-for="MinSalary" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">

              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("Index", "EmployeeGrade")'">@Localizer["AddEmployeeGrade.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddEmployeeGrade.CreateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>


@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
