@using Microsoft.AspNetCore.Mvc.Localization
@model EmployeeAttendanceViewModel
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "EmployeeAttendance";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["UpdateEmployeeAttendance.Title"]</div>
        <form asp-action="UpdateEmployeeAttendance" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Employee.Id" type="hidden" runat="server" />
            <input asp-for="Id" type="hidden" runat="server" />
            <input asp-for="EmployeeId" type="hidden" runat="server" />
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateEmployeeAttendance.InTime"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="InTime" type="text" onfocus="(this.type='time')" onblur="{this.type='text'}" class="form-control" />
                    <span asp-validation-for="InTime" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateEmployeeAttendance.OutTime"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="OutTime" type="text" onfocus="(this.type='time')" onblur="{this.type='text'}" class="form-control" />
                    <span asp-validation-for="OutTime" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["UpdateEmployeeAttendance.AttendanceDate"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="AttendanceDate" type="text" class="form-control datepicker">
                    <span asp-validation-for="AttendanceDate" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">

              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href='/Employee/ViewEmployee?employeeId=@Model.EmployeeId'">@Localizer["UpdateEmployeeAttendance.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["UpdateEmployeeAttendance.UpdateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>
