@model SinePulse.EMS.Site.Models.MarkViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "ViewMark";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet box form-conatiner">
        <div class="icon-container">
          <a href="@Url.Action("UpdateMark","Mark", new {id = Model.MarkId})" class="fa fa-edit action-link"></a>

          <a href="#" class="fa fa-tasks action-link"></a>
        </div>

        <div class="portlet-body form">

          <div class="container-fluid">
            <div class="row-fluid ">
              <div class="col-md-6">
                <div class="row custom-row">
                  <div class="col-md-4 title"><strong>@Localizer["ViewMark.ObtainedMark"]</strong></div>
                  <div class="col-md-8 value">@Html.DisplayFor(model => model.ObtainedMark)</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row custom-row">
                  <div class="col-md-4 title"><strong>@Localizer["ViewMark.GraceMark"]</strong></div>
                  <div class="col-md-8 value">@Html.DisplayFor(model => model.GraceMark)</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row-fluid ">
              <div class="col-md-6">
                <div class="row custom-row">
                  <div class="col-md-4 title"><strong>@Localizer["ViewMark.Remarks"]</strong></div>
                  <div class="col-md-8 value">@Html.DisplayFor(model => model.Comment)</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row custom-row">
                  <div class="col-md-4 title"><strong>@Localizer["ViewMark.Status"]</strong></div>
                  <div class="col-md-8 value">@Html.DisplayFor(model => model.Status)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>