@model SinePulse.EMS.Site.Models.AddResultGradeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = "AddResultGrade";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddResultGrade.Title"]</div>
        <form asp-action="AddResultGrade" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BranchMediumId" type="hidden" runat="server" />
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddResultGrade.GradeLetter"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="GradeLetter" type="text" class="form-control" />
                    <span asp-validation-for="GradeLetter" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddResultGrade.GradePoint"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="GradePoint" type="text" value="" class="form-control" />
                    <span asp-validation-for="GradePoint" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddResultGrade.StartMark"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="StartMark" type="text" value="" class="form-control" />
                    <span asp-validation-for="StartMark" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddResultGrade.EndMark"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="EndMark" type="text" value="" class="form-control" />
                    <span asp-validation-for="EndMark" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href='/BranchMedium/ViewBranchMedium?branchMediumId=@Model.BranchMediumId#tab_resultGrade'">@Localizer["AddResultGrade.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddResultGrade.CreateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
