@model SinePulse.EMS.Site.Models.ResultGradeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ViewResultGrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="portlet box form-conatiner">
                <div class="icon-container">
                    <a href="/ResultGrade/UpdateResultGrade?resultGradeId=@Model.Id" class="fa fa-edit action-link"></a>

                    <a href="#" class="fa fa-tasks action-link"></a>
                </div>

                <div class="portlet-body form">

                    <div class="container-fluid">
                        <div class="row-fluid ">
                            <div class="col-md-6">
                                <div class="row custom-row">
                                    <div class="col-md-4 title"><strong> @Localizer["ViewResultGrade.GradeLetter"] </strong></div>
                                    <div class="col-md-8 value">@Html.DisplayFor(model => model.GradeLetter)</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row custom-row">
                                    <div class="col-md-4 title"><strong> @Localizer["ViewResultGrade.GradePoint"] </strong></div>
                                    <div class="col-md-8 value">@Html.DisplayFor(model => model.GradePoint)</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row-fluid ">
                            <div class="col-md-6">
                                <div class="row custom-row">
                                    <div class="col-md-4 title"><strong>@Localizer["ViewResultGrade.StartMark"]</strong></div>
                                    <div class="col-md-8 value">@Html.DisplayFor(model => model.StartMark)</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row custom-row">
                                    <div class="col-md-4 title"><strong>@Localizer["ViewResultGrade.EndMark"]</strong></div>
                                    <div class="col-md-8 value">@Html.DisplayFor(model => model.EndMark)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row-fluid ">
                            <div class="col-md-6">
                                <div class="row custom-row">
                                    <div class="col-md-4 title"><strong>@Localizer["ViewResultGrade.Status"]</strong></div>
                                    <div class="col-md-8 value">@Html.DisplayFor(model => model.Status)</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



