@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model ChangeLoginUserPasswordViewModel

@{
    ViewData["Title"] = "ChangeLoginUserPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
              <div class="title-on-top">@Localizer["ChangeLoginUserPassword.Title"]</div>
                <form asp-action="ChangeLoginUserPassword" class="form-horizontal box-shadow-form" id="form_sample_3">
                  <div class="form-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="EmployeeCode" type="hidden" class="form-control" />
                    <input asp-for="EmployeeId" type="hidden" class="form-control" />
                    <div class="row-fluid col-md-12 zero-padding-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="col-md-2">
                            <label>@Localizer["ChangeLoginUserPassword.OldPassword"]</label><span class="required">*</span>
                          </div>
                          <div class="col-md-10">
                            <input asp-for="OldPassword" type="password" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <br />
                    </div>
                    <div class="row-fluid col-md-12 zero-padding-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="col-md-4">
                            <label>@Localizer["ChangeLoginUserPassword.NewPassword"]</label><span class="required">*</span>
                          </div>
                          <div class="col-md-8">
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="col-md-4">
                            <label>@Localizer["ChangeLoginUserPassword.RepeatNewPassword"]</label><span class="required">*</span>
                          </div>
                          <div class="col-md-8">
                            <input asp-for="RepeatPassword" type="password" class="form-control" />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="btn-container">
                      <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href = '@Url.Action("ViewEmployee", "Employee", new {employeeId = @Model.EmployeeId})'">@Localizer["ChangeLoginUserPassword.Cancel"]</button>
                      <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["ChangeLoginUserPassword.Change"]</button>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}