@model SinePulse.EMS.Site.Models.AddEmployeeLeaveViewModel
@using SinePulse.EMS.Messages.Model.Enums
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@{
  ViewData["Title"] = "AddEmployeeLeave";
}


<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="title-on-top">@Localizer["AddEmployeeLeave.Title"]</div>
        <form asp-action="AddEmployeeLeave" class="form-horizontal box-shadow-form" id="form_sample_3">
          <div class="form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" runat="server" />
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddEmployeeLeave.StartDate"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                   
                      <input type="text" class="form-control datepicker" name="StartDate">
                      
                    <!-- /input-group -->

                    <span asp-validation-for="StartDate" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddEmployeeLeave.EndDate"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
               
                      <input type="text" class="form-control datepicker"  name="EndDate">
                   
                    <!-- /input-group -->

                    <span asp-validation-for="EndDate" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid col-md-12 zero-padding-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddEmployeeLeave.Reason"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    <input asp-for="Reason" type="text" class="form-control" />
                    <span asp-validation-for="Reason" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-4">
                    <label>@Localizer["AddEmployeeLeave.LeaveType"] </label><span class="required">*</span>
                  </div>
                  <div class="col-md-8">
                    @Html.DropDownListFor(x => Model.LeaveTypeId, new SelectList(Model.LeaveTypes, "Id", "LeaveName"), @Localizer["AddEmployeeLeave.SelectLeaveType"].Value, new { @class = "form-control" })
                    <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="btn-container">
              <button type="button" class="btn custom-btn custom-cancel-btn pull-left" onclick="location.href='/Employee/ViewEmployee?employeeId=@Model.EmployeeId'">@Localizer["AddEmployeeLeave.CancelButton"]</button>
              <button type="submit" class="btn custom-btn custom-cancel-btn pull-right">@Localizer["AddEmployeeLeave.CreateButton"]</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>




@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
