@model EmployeeLeaveListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "Approve Employee Leave";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="row">
        <div class="col-md-12">
          <div class="page-bar margin-top-15">
            <div class="page-toolbar pull-left">
              <div class="btn-group">
                <ul style="padding:0px;">
                  <li class="custom-page-menu dropdown primary-menu-item-li">
                    <a href="#" class="show-dropdown-on-hover" data-toggle="custom-page-menu">
                      <button type="button" class="btn btn-fit-height dark-bg dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="true">
                        <i class="fa fa-bars"></i>
                      </button>
                    </a>
                    <ul class="dropdown-menu light-arrow-only">
                      <li>
                        <a href="/EmployeeLeave/AddEmployeeLeave?employeeId= ">@Localizer["ApproveEmployeeLeave.AddEmployeeLeave"]</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <table class="table table-striped table-hover" id="sample_5">
            <thead class="filterCriteria">
              <tr>
                <th>
                  @Localizer["ApproveEmployeeLeave.EmployeeName"]
                </th>
                <th>
                  @Localizer["ApproveEmployeeLeave.LeaveStartDate"]
                </th>
                <th>
                  @Localizer["ApproveEmployeeLeave.LeaveEndDate"]
                </th>
                <th>
                  @Localizer["ApproveEmployeeLeave.Reason"]
                </th>
                <th> @Localizer["ApproveEmployeeLeave.Action"] </th>
              </tr>
            </thead>
            <tbody>
              @foreach (var employeeLeaveModel in Model.EmployeeLeaves)
              {
                <tr>
                  <td>
                    @employeeLeaveModel.Employee.FullName
                  </td>
                  <td>
                    @employeeLeaveModel.StartDate
                  </td>
                  <td>
                    @employeeLeaveModel.EndDate
                  </td>
                  <td>
                    @employeeLeaveModel.Reason
                  </td>
                  <td>
                    <a href="/EmployeeLeave/ApproveLeaveDone?employeeLeaveId=@employeeLeaveModel.Id" class="action-link"><i class="fa fa-check action-icon"></i></a>
                    <a href="/EmployeeLeave/ApproveLeaveCancel?employeeLeaveId=@employeeLeaveModel.Id" class="action-link"><i class="fa fa-times action-icon"></i></a>

                  </td>
                </tr>
              }
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>
